<template>
  <div class="demo">
    <objectTree v-model="demo1" />
  </div>
</template>

<script>
import objectTree from './ObjectTree.vue';

export default {
  name: 'demo',
  data () {
    return {
      demo1: {
        foo: "this is foo",
        bar: "and this is bar",
        null: null,
        array: [1, "two", { three: true }],
        boolean: true,
        "undefined": undefined
      }
    }
  },
  components: {
    objectTree
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
