<template>
  <span>
    <span v-if="type === 'null'">null</span>
    <span v-if="type === 'undefined'">undefined</span>
    <span v-if="type === 'number'">{{ value }}</span>
    <span v-if="type === 'string'">{{ value }}</span>
    <span v-if="type === 'boolean'">{{ value }}</span>
    <span v-if="type === 'array'">
        <span>[</span>
            <openButton v-if="!open" @click="open = true" :html="'...'" />
            <span v-else v-for="index in value.length">{{ index }}: <objectTree v-model="value[index]" /></span>
        <span>]</span>
    </span>
    <span v-if="type === 'object'">
        <span>{</span>
            <openButton v-if="!open" @click="open = true" :html="'...'" />
            <span v-else v-for="key in Object.keys(this.value)"> {{ key }}: <objectTree v-model="value[key]" /></span>
        <span>}</span>
    </span>
  </span>
</template>

<script>
import openButton from './OpenButton.vue';

export default {
  name: 'objectTree',
  props: [ 'value' ],
  data () {
    return {
      open: false
    }
  },
  computed: {
    type() {
        let _type = typeof(this.value);
        if (_type == 'object') {
            if (this.value == null) {
                return "null";
            }
            if (Array.isArray(this.value)) {
                return "array";
            }
            return "object";
        }
        return _type;
    }
  },
  components: {
      openButton
  }
}
</script>

<style scoped>
</style>
